<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="" class="header-logo-link">
        <svg class="header-svg-logo" width="16" height="16">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#How It Works">How It Works</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#Vegetables">Vegetables</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#Reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">
      <svg class="header-svg-menu" width="21" height="16">
        <use href="../img/sprite.svg#icon-header-menu-mob"></use>
      </svg>
    </button>
  </div>
</header>
