<div class="mobile-menu is-open" menu>
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close" type="buttom" menu-close>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        class="icon-close"
        aria-hidden="true"
      >
        <path
          stroke-width="3"
          stroke-miterlimit="4"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M24 8l-16 16"
        ></path>
        <path
          stroke-width="3"
          stroke-miterlimit="4"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8 8l16 16"
        ></path>
      </svg>

      <!-- <svg class="icon-close" width="32" height="32">
               <use href="/src/img/sprite.svg#icon-close"></use>
      </svg> -->
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="" class="mobile-menu-link current">How It Works</a>
        </li>
        <li class="mobile-menu-item">
          <a href="" class="mobile-menu-link">Vegetables</a>
        </li>
        <li class="mobile-menu-item">
          <a href="" class="mobile-menu-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="mobile-menu-btn" type="submit">Shop now</button>
  </div>
</div>
