.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.cooking-woman-image {
  display: block;
}
ol {
  list-style-type: none;
}

/* How it works Section */

/* for Mobile */
.how-it-works-section {
  margin: 0;
  padding: 0;
}
.title-container {
  padding: 0;
}
.img-container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #7a3145;
}

.cooking-woman-image {
  display: block;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 335px;
  background: rgba(20, 20, 20, 0.2);
}
.text-container {
  background-color: #576f35;
  max-width: 100%;
  padding: 80px 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.text-title {
  max-width: 335px;
  max-height: 112px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .text-container {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
  }
  .text-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
  }
  .steps-text {
    margin-bottom: 40px;
  }
}
.highlight {
  color: #d4bfc4;
}
.steps-text {
  max-width: 335px;
  max-height: 54px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: #fbfbfb;
}

.steps-ol-list {
  padding-left: 0;
  list-style: none;
  counter-reset: my-counter;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.order-steps-list {
  gap: 20px;

  padding: 0;
  margin: 0;
}

.order-steps-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  padding: 12px 24px;
  max-width: 335px;
  height: 76px;
  gap: 24px;
  background: #fbfbfb;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.item-accent {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #141414;
}

.steps-item-text-one {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #858585;
  max-width: 208px;
}
.steps-item-text-two {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #858585;
  max-width: 176px;
  max-height: 40px;
}
.steps-item-text-three {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #858585;
  max-width: 211px;
  max-height: 60px;
}

.how-it-works-text-change-ol {
  font-weight: 700;
  color: #141414;
}

.order-steps-item::before {
  display: flex;
  counter-increment: section;
  content: counter(section);
  background-color: #d78a9f;
  border: solid;
  border-width: 3px;
  border-color: #0b0406;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
/* for Tablet */

@media only screen and (min-width: 768px) {
  .img-container {
    max-width: 768px;
    padding: 100px 64px;
  }
  .cooking-woman-image {
    max-width: 640px;
    height: auto;
  }
  .text-container {
    padding: 100px 164px;
    max-width: 768px;
  }
  .text-title {
    max-width: 440px;
    max-height: 96px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 32px;
  }
  .steps-text {
    max-width: 450px;
    max-height: 60px;
    font-size: 16px;
    margin-bottom: 52px;
  }
  .order-steps-item {
    max-width: 440px;
    height: 76px;
  }
}

@media only screen and (min-width: 1280px) {
  .title-container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(
      to right,
      #7a3145,
      #7a3145,
      #576f35,
      #576f35
    );
    padding: 0;
  }
  .img-container {
    margin: 0;
    max-width: 640px;
    padding: 100px 100px;
  }
  .cooking-woman-image {
    max-width: 440px;
    height: 560px;
  }
  .text-container {
    max-width: 640px;
    padding: 100px 100px;
  }
  .steps-text {
    margin-bottom: 104px;
  }
}
