body {
  background: #fbfbfb;
}
.reviews {
  padding: 80px 20px;
  max-width: 375px;
  height: 664px;
  background: #fbfbfb;
  margin: 0 auto;
}
.rare {
  max-width: 1280px;
}
@media only screen and (min-width: 768px) {
  .reviews {
    background: #fbfbfb;
    max-width: 768px;
    height: 692px;
  }
  .rare {
    max-width: 1280px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews {
    max-width: 1280px;
    padding: 0;
  }
  .rare {
    max-width: 1280px;
    padding: 100px 100px;
  }
}
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  width: 335px;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 64px;
    line-height: 1;
    width: 553px;
    height: 128px;
  }
}
span {
  color: #576f35;
}
.descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  width: 335px;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .descr {
    font-size: 16px;
    line-height: 1.25;
    width: 553px;
    height: 40px;
    margin-top: 24px;
  }
}
.reviews_list {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .reviews_list {
    margin-top: 52px;
    width: 704px;
    height: 248px;
  }
}
.reviews_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px;
  min-width: 335px;
  max-height: 228px;
  background: #fbfbfb;
}
@media only screen and (max-width: 767px) {
  .reviews_item:not(:first-child) {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .reviews_item {
    min-width: 340px;
    max-height: 248px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews_item {
    min-width: 344px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews_item:nth-child(3) {
    display: none;
  }
}
.name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-top: 24px;
}
.descr-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #858585;
  margin-top: 8px;
  width: 288px;
  height: 80px;
}
@media only screen and (min-width: 768px) {
  .descr-item {
    font-size: 16px;
    line-height: 1.25;
    min-height: 100px;
  }
}
